/* line 9, ../sass/main.scss */
#sidebar {
  background: #121929;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(98%, #121929), color-stop(100%, #0a0e17));
  background-image: -webkit-linear-gradient(left, #121929 98%, #0a0e17);
  background-image: -moz-linear-gradient(left, #121929 98%, #0a0e17);
  background-image: -o-linear-gradient(left, #121929 98%, #0a0e17);
  background-image: linear-gradient(left, #121929 98%, #0a0e17);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 240px;
}
/* line 18, ../sass/main.scss */
#sidebar .brand {
  margin: 0 0 10px 0;
}
/* line 21, ../sass/main.scss */
#sidebar .brand a {
  background: #0a0e17;
  border-bottom: 1px solid #020306;
  color: #FFF;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
}
/* line 34, ../sass/main.scss */
#sidebar .nav li a {
  border-radius: 0;
  color: #49baef;
}
/* line 39, ../sass/main.scss */
#sidebar li.active a {
  color: #FFF;
}
/* line 43, ../sass/main.scss */
#sidebar .nav li:not(.active) a:hover {
  background: none;
  color: #FFF;
}
/* line 48, ../sass/main.scss */
#sidebar form {
  margin: 10px;
}
/* line 51, ../sass/main.scss */
#sidebar form label {
  color: #FFF;
}

/* line 57, ../sass/main.scss */
#layout {
  margin-left: 240px;
}

/* line 61, ../sass/main.scss */
.page-header {
  background: #F4F4F4;
  border-color: #DDD;
  line-height: 50px;
  margin: 0 0 20px 0;
  padding: 0 20px;
}
/* line 68, ../sass/main.scss */
.page-header h1 {
  font-size: 24px;
  line-height: 50px;
  margin: 0;
}

/* line 75, ../sass/main.scss */
.lead {
  border-bottom: 1px solid #dddddd;
  margin: -20px 0 10px 0;
  padding: 20px;
}

/* line 82, ../sass/main.scss */
.dl-horizontal dt {
  text-align: left;
  width: 120px;
}
/* line 86, ../sass/main.scss */
.dl-horizontal dd {
  margin-left: 120px;
}

/* line 91, ../sass/main.scss */
.extensions-box {
  border: 1px solid #dddddd;
}
/* line 94, ../sass/main.scss */
.extensions-box .title {
  background: #F4F4F4;
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  margin: 0;
  padding: 0 10px;
}
/* line 102, ../sass/main.scss */
.extensions-box .extensions {
  list-style: none;
  margin: 0;
}
/* line 106, ../sass/main.scss */
.extensions-box .extensions li a {
  display: block;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
}
/* line 111, ../sass/main.scss */
.extensions-box .extensions li a:hover {
  background: #F4F4F4;
  text-decoration: none;
}
/* line 117, ../sass/main.scss */
.extensions-box .extensions li:last-child a {
  border-bottom: none;
}
/* line 121, ../sass/main.scss */
.extensions-box .extensions .description {
  color: #333;
  display: block;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 130, ../sass/main.scss */
.extensions-box .extensions .meta {
  color: #333;
  float: right;
  font-size: 13px;
  margin-bottom: 1px;
}

/* line 139, ../sass/main.scss */
.maintainers-list {
  list-style: none;
  margin: 0;
}
/* line 143, ../sass/main.scss */
.maintainers-list li a {
  background: #F4F4F4;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
/* line 154, ../sass/main.scss */
.maintainers-list li a:hover {
  background: #DDD;
  text-decoration: none;
}

/* line 162, ../sass/main.scss */
#maintainer-details .sidebar {
  float: left;
  width: 250px;
}
/* line 166, ../sass/main.scss */
#maintainer-details .details {
  float: left;
}

/* line 171, ../sass/main.scss */
.readme {
  background: #F4F4F4;
  padding: 0;
}
/* line 175, ../sass/main.scss */
.readme .icon-chevron-down {
  display: none;
}
/* line 179, ../sass/main.scss */
.readme .content {
  padding: 20px;
}
/* line 184, ../sass/main.scss */
.readme.collapsed .icon-chevron-up {
  display: none;
}
/* line 185, ../sass/main.scss */
.readme.collapsed .icon-chevron-down {
  display: inline-block;
}
/* line 187, ../sass/main.scss */
.readme.collapsed .content {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
/* line 192, ../sass/main.scss */
.readme.collapsed .content:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(244, 244, 244, 0)), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  background-image: -moz-linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  background-image: -o-linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  background-image: linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  bottom: 0;
  content: " ";
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
}
/* line 205, ../sass/main.scss */
.readme .toggle {
  display: block;
  background: #EEE;
  border-top: 1px solid #e3e3e3;
  padding: 5px;
  text-align: center;
}
/* line 212, ../sass/main.scss */
.readme .toggle:hover {
  background: #E3E3E3;
}
