@import "compass";

$ss-dark-blue: #121929;
$ss-med-blue: #0B467F;
$ss-light-blue:#49BAEF;

$header-height: 50px;

#sidebar {
  background: $ss-dark-blue;
  @include background-image(linear-gradient(left, $ss-dark-blue 98%, darken($ss-dark-blue, 5%)));
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 240px;

  .brand {
    margin: 0 0 10px 0;

    a {
      background: darken($ss-dark-blue, 5%);
      border-bottom: 1px solid darken($ss-dark-blue, 10%);
      color: #FFF;
      display: block;
      font-size: 16px;
      font-weight: normal;
      line-height: $header-height;
      padding: 0 10px;
      text-align: center;
    }
  }

  .nav li a {
    border-radius: 0;
    color: $ss-light-blue;
  }

  li.active a {
    color: #FFF;
  }

  .nav li:not(.active) a:hover {
    background: none;
    color: #FFF;
  }

  form {
    margin: 10px;

    label {
      color: #FFF;
    }
  }
}

#layout {
  margin-left: 240px;
}

.page-header {
  background: #F4F4F4;
  border-color: #DDD;
  line-height: $header-height;
  margin: 0 0 20px 0;
  padding: 0 20px;

  h1 {
    font-size: 24px;
    line-height: $header-height;
    margin: 0;
  }
}

.lead {
  border-bottom: 1px solid #DDD;
  margin: -20px 0 10px 0;
  padding: 20px;
}

.dl-horizontal {
  dt {
    text-align: left;
    width: 120px;
  }
  dd {
    margin-left: 120px;
  }
}

.extensions-box {
  border: 1px solid #DDD;

  .title {
    background: #F4F4F4;
    border-bottom: 1px solid #DDD;
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
  }

  .extensions {
    list-style: none;
    margin: 0;

    li a {
      display: block;
      border-bottom: 1px solid #F4F4F4;
      padding: 10px;

      &:hover {
        background: #F4F4F4;
        text-decoration: none;
      }
    }

    li:last-child a {
      border-bottom: none;
    }

    .description {
      color: #333;
      display: block;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .meta {
      color: #333;
      float: right;
      font-size: 13px;
      margin-bottom: 1px;
    }
  }
}

.maintainers-list {
  list-style: none;
  margin: 0;

  li a {
    background: #F4F4F4;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;

    &:hover {
      background: #DDD;
      text-decoration: none;
    }
  }
}

#maintainer-details {
  .sidebar {
    float: left;
    width: 250px;
  }
  .details {
    float: left;
  }
}

.readme {
  background: #F4F4F4;
  padding: 0;

  .icon-chevron-down {
    display: none;
  }

  .content {
    padding: 20px;
  }

  &.collapsed {
    .icon-chevron-up { display: none; }
    .icon-chevron-down { display: inline-block; }

    .content {
      max-height: 200px;
      overflow: hidden;
      position: relative;

      &:after {
        @include background-image(linear-gradient(top, rgba(244, 244, 244, 0) 20%, #F4F4F4));
        bottom: 0;
        content: " ";
        display: block;
        height: 40px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  .toggle {
    display: block;
    background: #EEE;
    border-top: 1px solid #E3E3E3;
    padding: 5px;
    text-align: center;

    &:hover {
      background: #E3E3E3;
    }
  }
}
